@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../../public/cyberpunk-font/stylesheet.css";
@import "../../public/procyon-font/stylesheet.css";
@import "../../public/chakrapetch-font/stylesheet.css";
@import "../../public/baijamjuree-font/stylesheet.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)) no-repeat;
  background-image: url("../../public/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main_name {
  margin-top: 250px;
  text-align: center;
  font-size: 150px;
  font-family: "cyberpunkregular", Arial, sans-serif;
  background-image: linear-gradient(
    #ff00ee 0%,
    #76006e 40%,
    #76006e 55%,
    #ff00ee 70%,
    #ff9af8 75%,
    #8a0080 80%,
    #8a0080 100%
  );
  filter: drop-shadow(1px 1px 1px #00ffff) drop-shadow(2px 2px 1px#00ffff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item {
  fill: url(#item-grad);
  filter: drop-shadow(2px 2px 5px #00ffff);
}

.itemText {
  font-family: "procyonregular", Arial, sans-serif;
}
